
  
  
  button:hover {
    cursor: pointer;
    
    background-color:lightgreen
    
  }
  button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 8px;
}
  
  @media only screen and (max-width: 1024px) {
    .meals {
      
      display: grid;
      grid-template-columns: auto auto auto; 
      
    }
  
    .nutrients ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  